@function width($num, $den) {
  //useable space in rem units
  $useable: $grid-width - (($den) * $gutter-horizontal) + $gutter-horizontal;

  //useable space in % unit
  $gutper: $gutter-horizontal * 100 / $grid-width;
  $useable2: 100-$gutper * ($den - 1);

  $result: ($num - 1) * $gutper + $num * $useable2 / $den;

  @return $result * 1%;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin column {
  background-color: orangered;
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

//MEDIA QUERY MANAGER
/*
0-600px         Phone
600-900px       Table portrait
900-1200px:     Tablet landscape
1200px-1800px:  Desktops
1800px+         Big desktop
*/

/*


@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 600px) {
      @content;
    }
  }
}

*/

//BASE-TYPO>GEN LAYOUT+GRID>PAGE LAYOUT>COMPONENTS

@mixin respondMax($breakpoint) {
  @media (max-width: ($breakpoint/16px*1em)) {
    @content;
  }
}

@mixin respondMin($breakpoint) {
  @media (min-width: ($breakpoint/16px*1em)) {
    @content;
  }
}
