.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__container {
    display: flex;
    padding: 0 15rem;
    justify-content: space-between;
    @include respondMax($bp-custom-1350) {
      padding: 0 8rem;
    }

    @include respondMax($bp-custom-1050) {
      flex-direction: column;
      align-items: center;
    }
    & > * {
      width: 45rem;
    }
  }

  &__logo-box {
    margin: 0 auto;
    margin-bottom: 8rem;
    text-align: center;
  }
  &__logo {
    width: 15rem;
  }

  &__list {
    border-top: 1px solid rgba($color-grey-light-2, 1);
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2rem;
    // padding: 0 20rem;
    // padding-right: 10rem;
  }

  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-right: 1.8rem;
    }
  }

  &__link {
    display: inline-block;
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 200ms;
      background-color: $color-grey-dark-3;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(3deg) scale(1.3);
    }
  }

  &__copyright {
    padding-top: 2rem;
    border-top: 1px solid rgba($color-grey-light-2, 1);

    @include respondMax($bp-custom-1050) {
      margin-top: 8rem;
    }
  }
}
