.u-center-text {
  text-align: center;
}

.u-margin-bot-big {
  margin-bottom: 8rem !important;

  @include respondMax($bp-tab-port) {
    margin-bottom: 6.5rem !important;
  }

  @include respondMax($bp-phone) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-bot-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bot-medium {
  margin-bottom: 4rem !important;
}
